
*{
    margin: 0;
    padding: 0;
}

body{
    background: #111;
    color: #fff;
    font-family: "Montserrat";
}

.expense-title-container img {
    height: 20px;
    margin-left: 10px;
    filter: invert(1);
}
.expense-title-container {
    display: flex;
    align-items: center;
}

.container{
    width: 90%;
    margin-left: 5%;
}

#title{
    margin-top: 20px;
    font-size: 50px;
}

.top-cards-container{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.card{
    flex: 1;
    background: #222;
    padding: 15px;
    border-radius: 5px;
}

.card .left p{
    opacity: 0.7;
}

.card .left h1{
    font-size: 35px;
    margin-top: 10px;
}

.list-container{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.list-container .left,
.list-container .right{
    padding: 15px;
    background: #222;
    border-radius: 5px;
    height: 100%;
}

.list-container .left p,
.list-container .right p{
    opacity: 0.7;
    margin-bottom: 10px;
}

.link-left, .link-right{
    margin: 0 !important;
    padding: 0;
}

.month-record{
    text-decoration: none;
    color: #fff;
    display: flex;
    font-size: 20px;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    background: #0002;
}

.records-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.graph-list-container{
    display: flex;
}

.graph-list-container .list{
    flex: 1;
}

.graph-list-container .list p{
    display: flex;
    gap: 10px;
}

.graph{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donut{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    border: 50px solid #007aff;
}

.donut-bg{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 50px solid #444;
}

#percent_display{
    position: absolute;
}

.world-view{
    margin-top: 40px;
    padding: 15px;
    background: #222;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.country-main{
    display: flex;
    flex-direction: column;
}

.country-main .title-main{
    padding: 10px;
    background: #333;
}

.country-main .title-main:hover{
    cursor: pointer;
}

.country-main .title-main h1{
    font-size: 15px;
}

.country-main .content-main{
    background: #383838;
    padding: 0px;
    height: 0;
    overflow: hidden;
}

.title-main.open ~ .content-main{
    padding: 20px !important;
    height: auto !important;
}

.month-record:hover{
    cursor: pointer;
}

.top-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-data a{
    text-decoration: none;
    color: #fff;
    background: #007aff;
    padding: 10px;
    border-radius: 5px;
}

.top-data a:hover{
    filter: brightness(90%);
    cursor: pointer;
}

.btns{
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.btns a{
    padding: 10px;
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
    background: #333;
    border-radius: 5px;
}


.btns .delete-record{
    background: #a00;
}

.btns .edit{
    background: #0a0;
}

.btns a img{
    height: 20px;
    filter: invert(1);
}

.link-right-container{
    display: flex;
    gap: 20px;
    align-items: center;
}

.link-right-container button{
    font: inherit;
    font-size: 12px;
    width: 35px;
    aspect-ratio: 1;
    background-color: rgb(255, 133, 0);
    border: none;
    outline: none;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    filter: invert(1);
}


.top-data .download-report{
    display: flex;
    align-items: center;
    gap: 10px;
}

#year-select{
    padding: 9px;
    border-radius: 5px;
    font: inherit;
    background: #333;
    color: #fff;
}

@media(max-width: 720px){
    #title{
        font-size: 25px;
    }
    .top-data{
        flex-direction: column;
        gap: 20px;
    }
    .top-cards-container{
        flex-direction: column;
    }
    .list-container{
        display: flex;
        flex-direction: column;
    }
    .list-container .left .graph-list-container{
        flex-direction: column;
        gap: 30px;
    }
    .world-view{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
}
.expense-title-container img {
    height: 20px;
    margin-left: 10px;
    filter: invert(1);
}
.expense-title-container {
    display: flex;
    align-items: center;
}
