*{
    margin: 0;
    padding: 0;
}

body{
    background: #111;
    color: #fff;
    font-family: "Montserrat";
}

.container{
    margin: 10px;
    display: flex;
    width: 50%;
    margin-left: 25%;
    flex-direction: column;
    gap: 10px;
}

.container .field{
    display: flex;
    align-items: center;
    gap: 20px;
}

.category{
    display: flex;
    flex-direction: column;
}

.category .title:hover{
    cursor: pointer;
}

.category .title{
    padding: 10px;
    background: #222;
    color: #ccc;
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: space-between;
}

.category .title .right{
    display: flex;
    align-items: center;
}

.category .title .right .collapse-btn{
    --btn-size: 20px;
    height: var(--btn-size);
    aspect-ratio: 1;
    background: var(--expand-url);
    background-size: 150%;
    background-position: center;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    filter: invert(1);
}

.category.open .title .right .collapse-btn{
    background: var(--collapse-url);
    background-position: center;
    background-size: 150%;
}

.category .title h3{
    margin-left: 10px;
}

.remove-cat-btn{
    padding: 10px;
    background: #800;
    border-radius: 5px;
    display: flex;
    align-self: center;
}

.remove-cat-btn img{
    height: 22px;
    filter: invert(1);
}

.category .content{
    display: flex;
    flex-direction: column;
    background: #282828;
    height: 0;
    color: #ccc;
    overflow: hidden;
    border-radius: 15px;
}

.category.open .content{
    height: auto;
}

.category .content .expense{
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr 1fr 50px;
    gap: 20px;
    padding: 15px;
    user-select: none;
}

.category .content .expense .remove{
    text-align: center;
    color: #fff;
    background: #833;
    font-size: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.category .content .expense .remove img{
    height: 20px;
    filter: invert(1);
}

.category .content .expense .remove:hover{
    background: #a33;
    cursor: pointer;
}

.category .content .add-expense{
    margin: 10px;
    padding: 10px;
    background: #007aff;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    font: inherit;
}

.category .content .add-expense:hover{
    cursor: pointer;
}

.category .content input{
    background: #444;
    border: none;
    outline: none;
    font: inherit;
    padding: 10px;
    color: #fff;
    border-radius: 3px;
}

.category .content select{
    background: #444;
    padding: 10px;
    font: inherit;
    color: #fff;
    border-radius: 4px;
}

#username-input,
#income-input{
    padding: 10px;
    font: inherit;
    background: #222;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #ccc;
}

.btns{
    width: 50%;
    margin-left: 25%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.btns button{
    flex: 1;
    padding: 10px;
    font: inherit;
    background: #333;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
}

.btns button:hover{
    cursor: pointer;
}

.btns button:nth-child(2){
    background: #007aff;
}

#date-field{
    font-size: 25px;
}

body > h1{
    margin: 20px 0;
    font-size: 45px;
    margin-left: 25%;
}

.top-data{
    padding: 20px 0;
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-data a{
    text-decoration: none;
    color: #ccc;
    padding: 10px;
    background: #007aff;
    border-radius: 5px;
}

@media(max-width: 720px){
    .container{
        width: 80%;
        margin-left: 10%;
    }
    .top-data{
        justify-content: center;
    }
    .category .content .expense{
        display: grid;
        grid-template-columns: 1fr
    }
}
.expense-title-container img {
    height: 20px;
    margin-left: 10px;
    filter: invert(1);
}
.expense-title-container {
    display: flex;
    align-items: center;
}
