<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Form</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'icon.png')}}" type="image/png">
</head>
<body>
    <div class="main-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
        </div>
        <h1 class="heading" style="text-align: center;">Reset Password</h1>
        <form action="{{url_for('reset')}}" method="POST" class="form">
            <p class="field-label">OTP</p>
            <input type="text" name="otp" id="otp" placeholder="Enter OTP" required autocomplete="off">
            <p class="field-label">Password</p>
            <input type="text" name="password" id="password" placeholder="Enter Password" required autocomplete="off">
            <p class="field-label label-pw">Password</p>
            <input type="password" name="c_password" id="c_password" placeholder="Confirm Password" required>
            <input type="submit" value="Reset">
        </form>
        <a href="{{ url_for('login') }}">Go Back</a>
    </div>

    {% include 'footer.html' %}

    {% with msg=get_flashed_messages() %}
        {% if msg[0]  %}
            <script>alert("{{ msg[0] }}")</script>
        {% endif %}
    {% endwith %}
</body>
</html>
