<nav>
    <div class="left">
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Expense tracker Logo">
        </a>
    </div>
    <div class="menu-btn" onclick="toggle_main_menu()"></div>
    <div class="right">
        <a href="{{ url_for('index') }}">Dashboard</a>
        <a href="{{ url_for('insert_frontend') }}">Add Data</a>
        <div class="profile" onclick="open_menu()">
            <div class="profile-pic"></div>
            <p>{{ current_user.full_name }}</p>
        </div>
    </div>

    <div class="user-menu">
        <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
        <a href="{{ url_for('delete_account') }}">Delete Account</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>

    <script>
        let overlay;
        let profile = document.querySelector(".profile");

        let main_menu_stat = false;

        function toggle_main_menu(){
            document.querySelector("nav").classList.toggle("menu-open");

            if(main_menu_stat){
                overlay.remove();
                close_menu();
            }else{
                overlay = document.createElement("div");
                overlay.style.height = "100vh";
                overlay.style.width = "100vw";
                overlay.style.zIndex = "99999999";
                overlay.style.background = "#0008";
                overlay.style.position = "fixed";
                overlay.style.top = "0";
                overlay.style.left = "0";
                overlay.onclick = () => {toggle_main_menu()}
                document.body.appendChild(overlay);
            }

            main_menu_stat = !main_menu_stat;
        }

        function open_menu(){
            profile.setAttribute("onclick", "close_menu()");
            if(!main_menu_stat){
                overlay = document.createElement("div");
                overlay.style.height = "100vh";
                overlay.style.width = "100vw";
                overlay.style.zIndex = "99999999";
                overlay.style.background = "#0008";
                overlay.style.position = "fixed";
                overlay.style.top = "0";
                overlay.style.left = "0";
                overlay.onclick = () => {close_menu()}
                document.body.appendChild(overlay);
            }
            document.querySelector("nav").classList.add("user-menu-open");
        }

        function close_menu(){
            profile.setAttribute("onclick", "open_menu()");
            if(!main_menu_stat)
                overlay.remove();
            document.querySelector("nav").classList.remove("user-menu-open");
        }
    </script>
</nav>
