<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'icon.png')}}" type="image/png">
</head>
<body>
	{% include 'main-nav.html' %}
    <div class="main-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
        </div>
        <h1 class="heading" id="register_head_text" style="text-align: center;">Register</h1>
        <form action="{{url_for('create_account')}}" method="POST" class="form">
            <p class="field-label">Username</p>
            <input type="text" name="username" id="username" placeholder="Enter Username" required autocomplete="off">
            <p class="field-label">Full name</p>
            <input type="text" name="full-name" id="username" placeholder="Enter your full name" required autocomplete="off">
            <p class="field-label">Mobile No.</p>
            <input type="tel" name="mobile-no" id="username" placeholder="Enter mobile no" required autocomplete="off">
            <p class="field-label">E-mail</p>
            <input type="email" name="email" id="username" placeholder="Enter Email" required autocomplete="off">
            <p class="field-label label-pw">Password</p>
            <input type="password" name="password" id="password" placeholder="Enter Password" required>
            <p class="field-label label-pw">Confirm Password</p>
            <input type="password" name="password" id="c_password" placeholder="Re-type Password" required>
            <input type="submit" value="Register">
            <p id="Register_text">Already registered? <a href="{{url_for('login')}}">Login Here</a></p>
        </form>
    </div>

    {% include 'footer.html' %}

    {% with msg=get_flashed_messages() %}
        {% if msg[0]  %}
            <script>alert("{{ msg[0] }}")</script>
        {% endif %}
    {% endwith %}
</body>
</html>
