*{
    font-family: Quicksand;
    font-weight: 700;
}

body{
	background: #181818 !important;
	color: #fff !important;
}

.container
{
    width: 40vw;
    margin-top: 10vh;
}
.head img
{
    margin-top: 10vh;
    width: 150px;
}
.head h1
{
    font-family: 'Quicksand';
    font-weight: 800;
}
.results{
    
    width: 80vw;
    margin: 10vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    border-radius: 5px;
}

.results h3{
    text-align: left;
    width: 50vw;
}

table{
    width: 80vw;
}
tr, td, th{
    text-align: left;
    padding: 5px;
}
th{
    width: 20px;
}
